.App {
  margin: 0;
  font-family:sans-serif;
  background-color: #f4f4f4;
  padding: 2% 10%;
  color: #656565;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 90%;
}

.back-button {
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #00ff55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-pledge-button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  padding: 8px 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-pledge-button:hover {
  background-color: green;
  color: white;
}

.details-button {
  background-color: #024c40;
  color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.details-button:hover {
  background-color: green;
  color: white;
}


.back-button:hover {
  background-color: #00b345;
}
.new-pledge-button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  padding: 8px 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-pledge-button:hover {
  background-color: green;
  color: white;
}

.details-button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: green;
  color: white;
}


.form-content {
  display: flex;
  flex-direction: row;
}

.endowment-form {
  width: 25%;
}

.endowment-result {
  width: 75%;
  margin: 0% 0% 0% 5%;
}

.form-div {
  margin: 5% 0%;
}

.form-label {
  display: block;
}

.endowment-form input {
  border: none;
}

.calculation-report li {
  padding-bottom: 3%;
}

.fixed-donation-field {
  display: flex;
  align-items: center;  
}

.form-description {
  margin: 2% 0% 4% 0%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  border: 1px solid #dcdada;
  padding: 10px;
}

th {
  text-transform: uppercase;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

h1 {
  color: #212121;
  text-transform: uppercase;
}

h2 {
  margin-top: 30px;
  padding-top: 10px;
  color: #226442;
  border-top: 2px solid #656565;
}

label {
  font-weight:530;
}

input, select {
  border: 1px solid #d3d3d3;
  padding: 7px 10px;
  color: #656565;
  margin: 7px 0px;
  width: 100%
}

select {
  background-color: white;
}

.radio-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
  width: auto;
}

.register-page label, .login-page label {
  display: block;
  padding: 2px 0px;
}

.menu-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; 
}

.menu-btns button {
  all: unset;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  padding: 0px 10px;
  color: black;
}
 .menu-btns button:hover {
  color:#656565
 }

 .menu-btns button:disabled {
  background-color: #adaaaa;
  border-radius: 7px;
  padding: 0px 10px
 }

.modal, .modal-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background: rgba(49,49,49,0.8);
  overflow:hidden;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 400px;
  z-index: 1;
  overflow-y: auto;
  max-height: 80%;
}

.pledge-detail {
  text-transform: capitalize;
}

.pledge-donations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pledge-donations p {
  margin: 0;
  flex-grow: 1; 
}

.pledge-donations button {
  margin-left:10px;
}
.edit-btn {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545; /* Red */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #c82333;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #0069d9;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #5a6268;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 10px;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  background: #226442;
  color: rgb(215, 216, 222);
}

.close-modal:hover {
  background: rgb(215, 216, 222);
  color: #226442;
}
.edit-btn {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545; /* Red */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #c82333;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #0069d9;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #5a6268;
}


.endowment-pledges {
  border: 3px dashed black;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.endowment-pledges:hover {
  background-color: #649f9c;
  color: white;
  border-color: white;
  transform: scale(1.05);
}

.pledge-list-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  text-decoration: underline;
  padding: 10px;
  display: inline-block;
  border: 2px solid #024c40;
  margin-top:1%;
  border-radius: 12px;
}

.pledge-list-details {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.pledge-list-details div {
  display: flex;
  flex-direction: column;
  text-align: center; 
  position: relative;
  border: 1px solid black;
  border-radius: 12px;
  padding:15px;
  min-width: 120px;
}

.pledge-list-details label {
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  transform: translateY(-110%) translateX(-20%);
  background-color: #024c40;
  color: white;
  border-radius: 12px;
}

.pledge-list-details span {
  padding: 0px 10px 10px 10px;
}

.pledges-container {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .investment-tooltip, .tooltip .fee-tooltip {
  visibility: hidden;
  width: 300px;
  background-color: white;
  border: 1px solid #58696d;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .investment-tooltip, .tooltip:hover .fee-tooltip {
  visibility: visible;
  opacity: 1;
}


@media only screen and (max-width: 1200px) {
  .form-content {
      display: flex;
      flex-direction: column;
  }

  .endowment-form, .endowment-result {
      width: 100%;
  }

  .tooltip .investment-tooltip {
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
  }

  .App {
    margin: 0;
  }

  .pledge-list-details {
    display: flex;
    flex-direction: column;
  }
}